
    <div class="loginMainContainer" ng-controller="LoginCtrl">
      <header class="loginHeader">
        <div class="headerData">
          <i class="fa fa-commenting-o"></i>
          <span><strong class="animationI">i</strong>Chat</span>
        </div>

      </header>
      <footer class="loginFooter">
        <div class="titleSocial">
          <p>Login With:</p>
        </div>
        <div class="socialIcons">
          <div class="facebook">
            <i id="face" ng-click="loginFacebook()" class="fa fa-facebook"></i>
          </div>
          <div class="google">
            <img src="assets/img/google.png" alt="">
          </div>
          <div class="instagram">
            <i class="fa fa-instagram"></i>
          </div>
        </div>

      </footer>
    </div>
